<div class="nav">
  <div class="logo">
    <span class="material-icons">
      polymer
    </span>
  </div>
  <div class="navigation">
    <div class="home" routerLink="/">
      <span class="material-icons">home</span>
      Home
    </div>
    <div class="registration" routerLink="/registration">
      <span class="material-icons">
        app_registration
      </span>
      Registration</div>
    <div class="log_In">
        <span class="material-icons">
          login
        </span>
      Login
    </div>
  </div>
</div>
<router-outlet></router-outlet>

