<div class="form">
  <form [formGroup]="formGroup" (ngSubmit)="submit()">
    <!--    <div class="name-of-form">Form Registration</div>-->
    <div class="fields-of-form">
      <div class="user-name">
        <label>User name:</label>
        <input type="text" placeholder="Name" formControlName="userName" size="30px">
        <label *ngIf="formGroup.get('userName').invalid && formGroup.get('userName').touched " appLabelDirectives>
          Field has mistake!
        </label>
      </div>

      <div class="last-name">
        <label>Last name:</label>
        <input type="text" placeholder="LastName" formControlName="lastName" size="30px">
        <label *ngIf="formGroup.get('lastName').invalid && formGroup.get('lastName').touched" appLabelDirectives>
          Field has a mistake!
        </label>
      </div>

      <div class="email">
        <label>Email:</label>
        <input type="email" placeholder="Email" formControlName="email" size="30px">
        <label *ngIf="formGroup.get('email').invalid && formGroup.get('email').touched"
               appLabelDirectives>Incorrect</label>
      </div>

      <!--      <div class="phone-num">-->
      <!--        <label>Phone num:</label>-->
      <!--        <input type="text" placeholder="xxx(xx)-xxx-xx-xx" formControlName="phoneNum" size="30px">-->
      <!--      </div>-->

      <div class="password">
        <label>Password:</label>
        <input type="password" placeholder="Password" formControlName="password" size="30px">
      </div>
      <div class="repeat-password">
        <label>Repeat password:</label>
        <input type="password" placeholder="RepeatPassword" formControlName="repeatPass" size="30px">
        <label *ngIf="validator.validPass(formGroup.get('password').value, formGroup.get('repeatPass').value) &&
         formGroup.get('repeatPass').touched" appLabelDirectives>
          Password doesn't match
        </label>
      </div>
    </div>
    <div class="example-button-row">
      <button mat-raised-button type="submit" [disabled]=formGroup.invalid>Registration</button>
    </div>
  </form>
</div>
